<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.engine.emitters">
      <emitter
            class="org.eclipse.birt.report.engine.emitter.json.JsonEmitter"
            format="JSON"
            icon="json.png"
            id="org.eclipse.birt.report.engine.emitter.json.JsonEmitter"
            isHidden="false"
            mimeType="application/json"
            needOutputResultSet="false"
            pagination="no-pagination">
      </emitter>
   </extension>

</plugin>
